
aside h2 {
    font-size: 1.3em;
    margin-top: 10px;
}


aside p, aside li {
    font-size: .75em;
    margin-top: 10px;
}

.main h2 {
    font-size: 2em;
    margin-top: 10px;
}


.main p {
    margin-bottom: 15px;
}

footer {
    margin-top: 15px;
    font-size: .8em;
    padding: 10px 10px 30px 10px;
    background: linear-gradient(to top, rgb(154, 205, 50), rgb(0, 0, 0));
    color: rgb(204, 204, 204);
}


.columnWrapper {
    float: left;
    width: 80%;
}

#slider {
    display: grid;
    position: relative;
}

#slider img {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.slide-bar {
    position: absolute;
    width: 100%;
    bottom: 10px;
    display: flex;
    justify-content: center;
}

.slide-bar .button {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #6e6e6e;
}

.slide-bar .button:hover {
    box-shadow: inset 0px 0px 2px 2px green;
}

.slide-bar .button:active {
    box-shadow: inset 0px 0px 2px 2px greenyellow;
}

#img_1 {
    display: block;
}

#img_2, #img_3 {
    display: none;
}

#input_1:target ~ #img_2,
#input_1:target ~ #img_3,
#input_2:target ~ #img_1,
#input_2:target ~ #img_3,
#input_3:target ~ #img_1,
#input_3:target ~ #img_2 {
    display: none;
}

#input_1:target ~ #img_1,
#input_2:target ~ #img_2,
#input_3:target ~ #img_3 {
    display: block;
}


.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: .5s;
    animation-name: fade;
    animation-duration: 1.5s;
}


@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


.sidebar1 {
    float: left;
    width: 25%;
    padding: 0 20px 0 10px;
}

.main {
    float: right;
    width: 75%;
    padding: 0 20px;
    border-left: dashed 1px rgb(153, 153, 153);
    border-right: dashed 1px rgb(153, 153, 153);
}

.sidebar2 {
    float: right;
    width: 20%;
    padding: 0 10px 0 20px;
}

footer {
    clear: both;
}

nav ul, header h1, footer p, .contentWrapper {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

img.half {
    max-width: 50%;
}

img.left {
    float: left;
    margin: 0 10px 10px 0;
}

img.right {
    float: right;
    margin: 0 0 10px 10px;
}


@media (min-width: 481px) and (max-width: 768px) {
    .sidebar2 {
        float: none;
        width: auto;
        clear: both;
        border-top: 2px solid black;
        padding-top: 10px;
    }

    .logo {
        width: 80px;
        height: 80px;
    }


    .columnWrapper {
        width: auto;
    }

    .main {
        border-right: none;
    }
}



